@media screen {
    body,h2,h3{font-family: 'PT Sans Narrow', sans-serif}
    h1 {font-family:'Yuji Syuku', serif;}
    body{background-color: #efe1efd2;border: white;}
    header{background-color: #f8f7f8;border: white;margin-top: 20px;margin-bottom: 30px;}
    footer{background-color: #eee6ec;border: white;margin-top: 100px;}
    body{height: 100%;display: table-cell;margin-bottom: 50px;margin-top: 350px;}
    html{line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%;display: table;margin: auto;}
    body{margin: 15px;}
    footer,header,nav,section{display: block;}
    h1{font-size: 75px;margin: .67em 0;}
    main{display: block;}
    a{background-color: transparent; -webkit-text-decoration-skip: objects;}
    img{max-width: 80%; border-style:none;}
    .bt{border-top-style:solid; border-top-width:1px;}
    .b--trasparent{border-color: transparent;}
    .bb{border-bottom-style: solid; border-bottom-width:1px;}
    .db{display: block;}
    .dib{display: inline-block;}
    .link {color:#9c7750}
    .mt4{color: #a07f5c;}

}


@media screen and (min-width: 60em){
    .flex-1{display: flex;}
    .home{font-weight: 700;}
    .fw7{font-weight: 75px;}
    .ttu,.action{text-transform: uppercase;}
    .f2{font-size: 75px;}
    .f5{font-size: 36px;}
    .f6{font-size: .875rem;}
    .f7{font-size: 34px;-webkit-text-size-adjust: auto;}
}

@media screen and (mid-width:30em){
    .h1{height: 1rem;}
    .h2{height: 1.5rem;}
    .home{letter-spacing: .1em;}
    .link,.home{text-decoration: none;transition: color .15s ease-in;}
    .w-100,.grid-container{width:100%; vertical-align: middle;}
    .w-auto{width: 100%;}
}

@media screen and (min-witdh:30em) and (max-witdh:60) {
    .w-70-m{width: 70%;}
}

.mh4 {
    width: 70%;
}


@media screen and (min-witdh:60em) {
    .w-33{width: 33%;}
    .w-50-1{width: 50%;}
    .o-90{opacity: .9;}
    .pa4{padding: 2rem;}
    .pb2{padding-bottom: 5rem;}
    .pt4{padding-top: 2rem;}
    .pv1{padding-top: .25rem; padding-bottom: .25rem;}
    .pv2{padding-top: .5rem; padding-bottom: .5rem;}
    .pv4{padding-top: 2rem; padding-bottom: 2rem;}
    .ph2{padding-left: .5rem; padding-right: .5rem;}
    .ph5{padding-left: 4rem; padding-right: 4rem;}
    .mr2{margin-right: .5rem;}
    .mv0{margin-top: 0;margin-bottom: 0;}
    .mr4{margin-right: 2rem;}
    .mb4,.home,.text{margin-bottom: 2rem;}
    .mt0{margin-top: 0;}
    .mt4{margin-top: 50px; margin-bottom: 50px; font-size: 34px;}
    .mv0{margin-top: 0; margin-bottom: 0;}
    .mv4{margin-top: 2rem; margin-bottom: 2rem;}
    .middot-divier::after{margin-left:.25rem; margin-right:.25rem;}
    .mh4{margin-left: 2rem; margin-right: 2rem;}
    .tc{text-align: center ;}
}



@media screen and (min-width:60em) {
    .tr{text-align: right;}
    .f7{font-size: .75rem;}
    .dtc-1{display: table-cell;}
    .db-1{display: table;}
    .dt-1{display: table;}

}

@media screen and (min-width:30em) and (max-width:60em) {
    .f1-m{font-size: 3rem;}
}

@media screen and (min-width:60em) {
    body {margin-right: 10px; margin-left: 10px;display: table;height: 100%;margin: auto;}
    .v-mid{vertical-align: middle;}
    .glow{transition: opacity .15s ease-in;}
    .headroom--pinned{transform:translateY(0%);}
    .headroom--fixed{position: sticky; top:0;}
    .grid-container{display: grid; grid-template-columns: repeat(6,minmax(0,1fr));grid-template-rows: repeat(3,auto);grid-auto-flow: dense; grid-gap: 0; margin: 0; max-width: 1200px;}
    .site-header{grid-column: 1/7;}
    .page-main{grid-column: 1/7;}
    .site-footer{grid-column: 1/7;}
} 

@media screen and (max-witdh:768px) {
    .site-header{order: 1;}
    .page-main{order: 2;}
    .site-footer{order: 4;}
    .site-links{transition: all .5s;}
    html,body{scroll-padding-top: 73px;height: 100%; margin: auto;display: table;}
    .fa{padding: 20px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; border-radius: 60%;}
    .fa:hover{opacity: 0.7;}
    .fa-twitter{background: #4597d6; color: white;}
    .fa-linkedin{background: #007bb5; color: white;}
    .fa-github{background: #2e445a; color: white;}
    .fab{-webkit-font-smoothing:antialised; display: inline-block; font-size: normal; font-variant: normal; text-rendering: auto; line-height: 1;}
    .fab{font-family: monospace; font-weight: 400;}
}

.copy{
    text-align: center;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}